<h3>New Employe Clickk here to create</h3>
<div [hidden]="submitted" style="width:500px;">
  <!--  <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit()" novalidate>-->
  <form [formGroup]="myForm" #savestudent (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname" name="firstname" [ngClass]="{'is-invalid':myForm.get('firstname')?.touched && myForm.get('firstname')?.invalid}">
      <span class="alert alert-danger" *ngIf="(f.firstname?.touched) && (f.firstname?.invalid)"
           style="margin-top: 5px;">
        <span *ngIf="f.firstname.errors?.required">FirstName is Required</span>
        <span *ngIf="f.firstname.errors?.minlength">
          FirstName length should be more than 5.
        </span>
      </span>
    </div>

    <div class="form-group">
  <label for="lastName">Last Name</label>
  <input type="text" class="form-control" id="lastname" formControlName="lastname" name="lastname" [ngClass]="{'is-invalid':myForm.get('lastname')?.touched && myForm.get('lastname')?.invalid}">
  <span class="alert alert-danger" *ngIf="(f.lastname?.touched) && (f.lastname?.invalid)"
       style="margin-top: 5px;">
    <span *ngIf="f.lastname.errors?.required">LastName is Required</span>
    <span *ngIf="f.lastname.errors?.minlength">
      FirstName length should be more than 10.
    </span>
  </span>
</div>

     <div class="form-group">
       <label for="emailId">Email id</label>
       <input type="text" class="form-control" id="email" formControlName="email" name="email" [ngClass]="{'is-invalid':myForm.get('email')?.touched && myForm.get('email')?.invalid}">
       <span class="alert alert-danger" *ngIf="(f.email?.touched) && (f.email?.invalid)"
             style="margin-top: 5px;">
         <span *ngIf="f.email.errors?.required"> Email is Required</span>
         <span *ngIf="f.email.errors?.email">
           Invalid Email Format
         </span>
       </span>
     </div>

    <!--<p>name: {{employee.firstname}}</p>
    <p>lastname: {{employee.lastname}}</p>
    <p>emaild: {{employee.email}}</p>-->
  </form>
</div>
<div>
  <!--<h4>You submitted successfully!</h4>-->
  <!--<button type="submit" class="btn btn-success">Add</button>-->
  <button class="btn btn-success" (click)="saveStudent(saveStudent)" [class.disabled]="!myForm.valid">Add</button>
  <!--<button type="submit" onclick="newEmployee()">Add</button>-->
</div>
